<configuration>
  <!--CONSOLE-->
  <appender name="STDOUT" classe="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d HH:mm:ss.SSS } [%thread] 5level %logger{36} msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDERRORFILE" classe="ch.qos.logback.core.FileAppender">
    <file>err.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d HH:mm:ss.SSS } [%thread] 5level %logger{36} msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDINFOFILEDAY" classe="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>cafheg.log</file>
    <rollingPolicy classe="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>cafheg_%d{yyyy-MM-dd}.log</fileNamePattern>
      <encoder>
        <pattern>%d HH:mm:ss.SSS } [%thread] 5level %logger{36} msg%n</pattern>
      </encoder>
    </rollingPolicy>
  </appender>


  <logger name="ch" level="error">
    <appender-ref ref="STDERRORFILE"/>
  </logger>

  <logger name="ch.hearc.cafheg.business" level="info">
    <appender-ref ref="STDINFOFILEDAY"/>
  </logger>

  <logger name="ch.hearc.cafheg" level="debug">
    <appender-ref ref="STDOUT"/>
  </logger>

</configuration>