<configuration>

  <appender name="STDERRORFILE" class="ch.qos.logback.core.FileAppender">
    <file>err.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS } [%thread] 5level %logger{36} msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDINFOFILEDAY" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>cafheg.log</file>
  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    <fileNamePattern>cafheg.%d{yyyy-MM-dd}.log</fileNamePattern>
  </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS } [%thread] 5level %logger{36} msg%n</pattern>
    </encoder>
</appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS } [%thread] 5level %logger{36} msg%n</pattern>
    </encoder>
  </appender>


  <logger name="ch" level="error">
    <appender-ref ref="STDERRORFILE"/>
  </logger>

  <logger name="ch.hearc.cafheg.business" level="info">
    <appender-ref ref="STDINFOFILEDAY"/>
  </logger>

  <logger name="ch.hearc.cafheg" level="debug">
    <appender-ref ref="STDOUT"/>
  </logger>

</configuration>